body {
  font-family: "Prompt", sans-serif;
  background: #f5f7fa;
}

/* Header ยาววว*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.header-hide {
  transform: translateY(-100%);
}

.header-show {
  transform: translateY(0);
}

#mainHeader {
  background: linear-gradient(135deg, #ffeb3b, #ff9800);
  color: #2e2d2d;
  border-radius: 0 0 12px 12px;
}

.building-card {
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
}

.building-card:hover {
  transform: translateY(-7px) scale(1.03);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.building-card img {
  height: 180px;
  object-fit: cover;
}

/*-----------ปุ่ม Hamburger------------- */
.hamburger {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1051;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.hamburger div {
  width: 30px;
  height: 3px;
  margin: 6px 0;
  background-color: #e67e22;
  transition: 0.4s;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 7px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -7.5px);
}

.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  transition: 0.4s;
  z-index: 1050;
  overflow-y: auto;
  background: rgba(25, 35, 70, 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
}

.sidebar.active {
  left: 0;
}

.content {
  padding: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1049;
  display: none;
}

.overlay.active {
  display: block;
}

a.d-block {
  transition:
    background-color 0.3s,
    color 0.3s;
}

a.d-block:hover {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  color: black;
}

.zoom-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 6px 10px;
  border-radius: 50%;
  font-size: 18px;
  pointer-events: none; /* คลิกทะลุ */
}

.nav-link {
  color: #333;
  position: relative;
  padding-bottom: 6px;
  transition: color 0.25s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #1e3a8a;
  transition: all 0.25s ease;
  transform: translateX(-50%);
}

.nav-link:hover {
  color: #1e3a8a;
}

.nav-link:hover::after {
  width: 100%;
}

/* Animation All Build Card*/
.animate-card {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.animate-card.show {
  opacity: 1;
  transform: translateY(0);
}
